* {
  font-family: "Helvetica Neue", sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  background-color: #7EB4EA;
  font-size: 200%;
}

button,
input {
  font-size: 100%;
}

#scores{
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

#content {
  margin: 0 auto;
  min-height: 300px;
  position:relative;
}

#content > div > div:first-child {
  background-color: #FDE977;
  border: 4px groove #6E4411;
}

.logo:not(.front-card) {
  width: 52%;
  height: 100%;
  display: block;
  margin: 0px auto;
}

#intro,
#judgeLogin {
  margin: 2em;
}

button.next,
button.play {
  float: right;
}

header h1 {
  background-color: black;
  color: #FDE977;
  border-bottom: 4px groove #6E4411;
  margin: 0;
  font-size: inherit;
  text-align: center;
}

section.answers {
  padding: 0;
}

.first_half,
.second_half {
  width: 100%;
  display: block;
}

@media (min-device-width: 800px), (min-width: 800px) {
    /* For desktop: */
    .first_half,
    .second_half {
      width: 50%;
        display: inline-block;
    }
}

.front {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;
}

div span.answer, div span.points {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 100%;
}

div span.points {
  border-left: 4px groove #6E4411;
  width: 2em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6E4411;
}

section.strikes {
  color: red;
}

section.strikes div {
  position: fixed;
  font-size: 10em;
  top: 0;
  display:none;
  letter-spacing: -0.15em;
  width: 75%;
	left: 50%;
	margin-left: -37.5%;
}

.flip-container {
  height: 1.5em;
  z-index: 1;
}

.flip-container.blank {
	border: 4px groove #FDE977;
	background-image: url(null.png);
  background-repeat: repeat-x;
	background-repeat: space;
	background-size: 77px;
	background-position-y: center;
}

.flip-container.reveal.clicked .face.back {
  text-decoration: line-through;
  color: #A6AAA9;
}

.flipper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

.flip-container.reveal .flipper {
  transform: rotateX(180deg);
}

.face {
  display: block;
  transition: all 0.2s linear;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
}

.face.back {
  transform: rotateY(180deg) rotateZ(180deg);
  padding: 0 2.75em 0 0.2em;
  border: 4px groove #000;
}
.face.front {
  background-color: #B7C9DF;
  box-shadow: inset 0px 0px 0px 16px #FEC079;
  color: #FDE977;
  border: 4px groove #FEC079;
}

.face.front span {
  background-color: #FEC079;
  border-left: 16px solid #FEC079;
  border-right: 16px solid #FEC079;
  color: #fff;
}

#judgeLogin {
  display: none;
}

.secretLogin {
  position: absolute;
  top:0;
  left:0;
  height: 50px;
  width: 50px;
}

.container{
  left: 0;
  right: 0;
  perspective: 800px;
}

#card {
  transform-style: preserve-3d;
  transition: transform 1s;
  position:relative;
}

#card > *{
  display: block;
  backface-visibility: hidden;
}

#card .front-card {
  position:absolute;
  height: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

#card .back-card {
  position:relative;
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}
