* {
  font-family: "Helvetica Neue", sans-serif;
  font-stretch: condensed;
  font-weight: 400;
}

body { background-color: #7EB4EA; font-size: 200%; }
#content { background-color: #FDE977; border: 4px solid #6E4411; margin: 0 auto; }

header, section {
}

header h1 {	text-transform: lowercase; background-color: black; color: #FDE977; border-bottom: 4px solid #6E4411; margin: 0; font-size: inherit; padding: 0.2em; text-align: center;}
header h1::after { content: "."; }
header h1:first-letter { text-transform: uppercase; }

section.answers {
  padding: 0;
}

.front {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;

}

div span.answer, div span.points {
  text-align: center;
  margin: -2px;
  padding: 0.2em;
}


div span.points {
  border: 2px solid #FDE977;
  width: 2em;
  position: absolute;
  right: 0;
  top: 0;
}

section.strikes {
  color: red;
}

section.strikes div {
  position: fixed;
  font-size: 10em;
  top: 15%;
  display:none;
}

.flip-container {
  height: 54px;
  z-index: 1;
}

.flip-container.reveal.clicked .face.back {
  text-decoration: line-through;
  color: #A6AAA9;
}

.flipper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

.flip-container.reveal .flipper {
  transform: rotateX(180deg);
}

.face {
  display: block;
  transition: all 0.2s linear;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #A6AAA9;
  padding: 0.2em;
}

.face.back {
  transform: rotateY(180deg) rotateZ(180deg);
  padding: 0.2em 3em 0.2em 0;
}
.face.front {
  background-color: #B7C9DF;
  box-shadow: inset 0px 0px 0px 16px #FEC079;
  color: #FDE977;
}

.face.front span {
  background-color: #FEC079;
  border-left: 16px solid #FEC079;
  border-right: 16px solid #FEC079;
}


#judgeLogin {
  display: none;
}
